body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1{
    text-align: center;
}

.user-details {
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    margin-top: 10px; /* Espaço acima da seção */
}

.user-image {
    width: 80px; /* Largura da imagem, ajuste conforme necessário */
    height: 80px; /* Altura da imagem, ajuste conforme necessário */
    border-radius: 50%; /* Imagem circular */
    object-fit: cover; /* Cobre todo o espaço da imagem mantendo a proporção */
    margin-right: 10px; /* Espaço entre a imagem e o nome */
}
.auth a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header {
    background: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.service-info {
    padding: 20px;
    text-align: center;
    background: white;
    margin: 20px auto; /* Centraliza e adiciona espaço em cima e embaixo */
    border-radius: 20px; /* Ajustei para um valor mais sutil */
    border: solid #f7a308; /* Adicionei ponto e vírgula */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Define uma largura máxima */
}

h2, h3 {
    margin-bottom: 10px;
}

footer {
    background: #365a36;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0%;
}

.footer-content div {
    width: 30%;
}

footer p {
    margin-top: 10px;
}

.services-footer {
    text-align: left; /* Alinha o texto à esquerda */
    margin: 20px 0; /* Espaçamento acima e abaixo da seção */
}

.services-footer a {
    display: block; /* Faz com que cada link ocupe uma linha inteira */
    text-decoration: none; /* Remove o sublinhado */
    color: #ffffff; /* Cor do texto */
    margin: 5px 0; /* Espaçamento entre os links */
    padding: 10px; /* Espaço interno */
     /* Borda verde */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave */
}

.services-footer a:hover {
    background-color: #f7a308; /* Cor mais escura ao passar o mouse */
    color: white; /* Muda a cor do texto ao passar o mouse */
}

.terms-footer a{
 color: #f4f4f4;

}
.terms-footer a:hover {
    color: #f7a308; /* Cor laranja ao passar o mouse */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 380px;
    width: 1500;
    justify-content: center;
    
}

.container img {
    float: left;
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}
.container {
    overflow: auto; /* Para conter o float */
}
.text-container {
    max-width: 500px; /* Ajuste a largura conforme necessário */
}

#informacoes {
    display: flex;
    flex-direction: column;
    
}
#fotoPqn{
    width: 300px; /* Largura definida */
    height: auto; /* Altura ajustada automaticamente para manter a proporção */
}

#fotoPqn1{
    width: 300px; /* Largura definida */
    height: 300px; /* Altura ajustada automaticamente para manter a proporção */
}
.elemento{
    width: 600px;
    height: 320px;
    background-color: #aca6a6;
    border: 2px solid rgb(62, 198, 166);
    margin-left: 40px;
}
